.Fact {
  text-align: end;
  margin: 0 auto;
  vertical-align: top;
  background-color: white;
  padding: 0 1rem;
  max-width: 800px;
  margin-top: 20px;
}

p {
  padding: 0;
  margin: 0;
  text-align: start;
}

.text-container {
  padding: 0rem 1rem;
}

.animalFact p {
  min-height: 3rem;
}

@media only screen and (max-width: 600px) {
  .animalFact p {
    min-height: 6rem;
  }
  .Fact {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .animalFact p {
    min-height: 7rem;
  }
}

.heading {
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 1.2rem;
  color: var(--primary);
  text-align: start;
  box-shadow: inset 0px -6px 0px 0px var(--primary);
}

.Fact .heading:not(:first-child) {
  margin-top: 30px;
}

.linkArea p {
  color: #7f7f7f;
  padding: 0;
  margin: 0 0 2px 0;
  text-align: start;
  margin-bottom: 8px;
}

.linkArea p:not(:first-child) {
  margin-top: 30px;
}
