.Heading {
  text-transform: uppercase;
  line-height: 1.5;
  font-size: 48px;
  padding: 0 2rem;
  vertical-align: bottom;
  min-width: 330px;
  background-color: var(--primary);
}

@media only screen and (max-width: 900px) {
  .Heading {
    padding: 0 1rem;
    line-height: 1.3;
    padding-bottom: 30px;
    padding-top: 20px;
  }
}

.Heading > div {
  color: #000;
  opacity: 50%;
  margin: 0;
  padding: 0;
  display: block;
  box-shadow: inset 0px -22px 0px 0px rgba(255, 255, 255, 30%);
}
